*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#box{
    background-color: #552424;
    height: 300px;
    width: 300px;

}
#box2{
    background-color: #244a55;
    height: 300px;
    width: 300px
}
#nav{
    /* background-color: #283d0e; */
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */

}
#part{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 90vh;
    width: 100%;
     gap: 6rem;
}
#mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
