*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#box{
    background-color: #552424;
    height: 300px;
    width: 300px;

}
#box2{
    background-color: #244a55;
    height: 300px;
    width: 300px
}