*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
#box{
    background-color: #552424;
    height: 300px;
    width: 300px;

}
#box2{
    background-color: #244a55;
    height: 300px;
    width: 300px
}
#nav{
    /* background-color: #283d0e; */
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */

}
#part{
    display: flex;
    justify-content: end;
    align-items: center;
    /* height: 90vh; */
    /* width: 100%; */
     gap: 6rem;
}
#mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(35, 183, 183);
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 1rem;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(6, 101, 101);
    display: flex;
    align-items: center;
    justify-content: center;
}
#b{
    height: 300px;
    width: 300px;
    background-color: black; 
}
h1{
    font-size: 60px;
    position: relative;
    /* background-color: yellow; */
}
h3{
    font-size: 60px;
    position: relative;
    background-color: rgb(85, 255, 0);
}
#home1{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
#home2{
    height: 60%;
    width: 100%;
    background-color: rgb(95, 255, 255);
    padding: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
#home3{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
#home2 h1{
    font-size: 40vw;
    text-transform: uppercase;
    font-weight:400 ;
}

#string{
    margin-top: 70px;
    height: 200px;
    width: 100%;
    background-color: rgb(239, 226, 111);
}